.App{
  display: flex;
  justify-items: flex-start;
  margin-left: 40px;
  margin-top: 30px;
   width: 20%;
}
.container{
 align-items: center;
 width: 100vw;
 height: 100vh;
 background-color: aliceblue;
 padding: 10px;
}
.inbu{
  width: 90%;
  height: 50px;
  border-radius: 8px;
  background-color: white;
  align-content: center;
  margin-left: 40px;
  margin-top: 35px;
}

  .column-container {
    display: flex;
    flex-direction: row;
    margin-top: 35px;       
  }
  .content {
    align-items: flex-end;
    
    }
.pages{
  background-color:antiquewhite;
  width:500px;
  height:fit-content
}

